<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a Twitter</title>
</head>
<body>
	<h1>Bienvenido a Twitter</h1>
	<form action="/ejecutar" method="post">
		<label>Ingrese el comando</label>
		<input type="text" name="comando">
		<input type="submit" name="ejecutar" value="Enviar">
	</form>
</body>
</html>